#home {
  height: 100%;
}

#coverPhoto {
  width: 100%;
  min-height: 20rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("https://concettaantico.com/content/uploads/2014/04/liliko-vine.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  vertical-align: center;
  justify-content: start;
  color: whitesmoke;
}

#coverPhoto > * {
  margin: 0 auto;
}

#title {
  text-align: center;
  font-size: 250%;
  font-weight: bolder;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.shortLine {
  width: 4em;
  border: 1px whitesmoke solid;
}

#buttonsRow {
  margin-top: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;

}
.button {
  background: rgba(0, 0, 0, 0.2);
  color: white;
  width: 10em;
  height: 3em;
  display: flex;
  transition: background 0.2s;
  /*idk why flex allows margin: auto to center*/
}
.button:link {
  text-decoration: none;
}
.button:visited {
  color: white;
}
.button:hover {
  background: rgba(0, 0, 0, 0.4);
}
.button span {
  margin: auto;
  font-size: 120%;
}
