html, body {
	height: 100%;
	padding: 0;
	margin: 0;
	background-color: #FAFAFA;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
	Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
	"Helvetica Neue", Arial, sans-serif,
	"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	font-weight: 400;
	color: #595959;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

#app {
	height: 100%;
}


.text-section {
	margin: 20px;
}

.text-section {
	width: 95%;
	margin: auto;
	font-size: 120%;
	line-height: 1.5;
}

@media only screen and (min-width: 37.56rem) {
	.text-section {
		width: 85%;
		padding: 1.5rem;
	}
}

@media only screen and (min-width: 73.5rem) {
	.text-section {
		width: 69.5rem;
		padding: 2rem;
	}
}
