.card {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  width: 25em;
  text-align: start;
}

.cardImage {
  height: 20em;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.fabContainer {
  justify-content: end;
}

.eventTitle {
  background: rgba(0, 0, 0, 0.4);
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 0;
  padding: 0.5em 25px;
  text-align: center;
}

.eventDate {
  font-style: italic;
}
.cardFab {
  background-color: #ff80ff;
  border-radius: 50%;
  height: 60px;
  width: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  position: absolute;
  left: 20em;
  top: calc(20em - 30px);
}

.cardBody {
  padding: 0 10px 5px 10px;
}
