.hey {
  text-decoration: underline;
}

.avatarCard {
  display: flex;
  align-items: center;
}

.avatarCircle {
  background-color: #ff80ff;
  width: 80px;
  height: 80px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

}

.avatarDetails {
  height: 70px;
  width: 250px;
  /*figure out shadow*/
  background-color: white;
  position: relative;
  left: -20px;
  padding-left: 40px;
  z-index: 1;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}


.detailsExtension {
  background: white;
  padding-top: 25px;
  padding-bottom: 10px;
  position: relative;
  top: -20px;
  left: 20px;
  width: 280px;
  text-align: center;
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.getTogethers {
  min-width: 20em;
}

.separator {
  width: 100%;
  max-width: 20em;
  border: 1px #ddd solid;
}
